{% extends "base.html" %}
{% block title %}Group Activity Admin{% endblock %}
{% block content %}
<div class="container-fluid text-center">
  <h2>Activity Records Admin</h2>
</div>

<div id="alerts" class="container-fluid text-center">
</div>


<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-12">
      <button id="completionprevious" class="btn btn-secondary btn-sm">Earlier &lt;</button></button> 
      <h3 class="d-inline-block" id="groupname">Bioinformatics</h3> 
      <button id="completionnext" class="btn btn-secondary btn-sm">&gt; Later</button>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr id="completionheader">
          <th>Person</th>
          <th>01 Jan</th>
          <th>02 Jan</th>
          <th>03 Jan</th>
          <th>04 Jan</th>
          <th>05 Jan</th>
        </tr>
      </thead>
      <tbody id="completionbody">
        <tr>
          <th>Simon Andrews</th>
          <td class="table-success">&check;</td>
          <td class="table-success">&check;</td>
          <td class="table-danger">&cross;</td>
          <td class="table-success">&check;</td>
          <td class="table-danger">&cross;</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">

    <div class="col-md-6">
      <h3 id="completion_user"></h3>
      <h3 id="completion_date"></h3>
    </div>
    <div class="col-md-6" id="completion_activities">

    </div>

  </div>

</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/groupactivity_admin.js') }}"></script>
{% endblock %}
