#maincontent {
    display: none;
}


#footer {
    color: black;
    background-color: lightgray;
    padding: 1em;
    margin-top: 2em;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}


h2 {
    padding-top: 1em;
}

/* Activities */
.activity {
    margin-bottom: 0.5em;
    color: white;
    background-color: darkgray;
    cursor: pointer;
}
.activityclass {
    display: inline-block;
}
.activityname {
    display: inline-block;
}
.activity button {
    display: inline-block;
}

/* Activity classes */
.Absent {
    background-color: darkblue;
}

.Training {
    background-color: darkgreen;
}

.Support {
    background-color: darkred;
}

.Development {
    background-color: darkmagenta;
}

.Infrastructure {
    background-color: darkorange;
}

.Institute {
    background-color: saddlebrown;
}

/* Admin page */
#groupname {
    margin-left: 2em;
    margin-right: 2em;
}
